<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlubecki.lucent">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ui.LucentApp">

        <activity android:name=".ui.activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.jlubecki.lucent.USB_PERMISSION" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity android:name=".ui.activities.SettingsActivity"/>

        <receiver
            android:name=".network.spotify.SpotifyReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged"/>
                <action android:name="com.spotify.music.metadatachanged"/>
                <action android:name="com.spotify.music.queuechanged"/>
            </intent-filter>

        </receiver>

        <receiver android:name=".sensor.EEGReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.jlubecki.lucent.sensor.ACTION_EEG" />
            </intent-filter>
        </receiver>

        <service android:name=".ui.services.LucentService">
            <intent-filter>
                <action android:name="HAMMER_TIME" />
            </intent-filter>
        </service>

        <activity android:name="com.spotify.sdk.android.authentication.LoginActivity"/>

    </application>

</manifest>